<div id="location" class="panel panel-default">
	<div class="panel-heading"><strong>Location</strong></div>
	<div class="panel-body">
		<%=render partial: '/templates/location_address' %>
	</div>
</div>