<div ng-if="position.type == 'Character'" class="panel panel-default">
	<div class="panel-heading"><strong>Attributes</strong></div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Attribute</th>
				<th>Rank</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>
					Strength
				</th>
				<td>
					{{position.strength_rating}}
				</td>
			</tr>
			<tr>
				<th>
					Armour
				</th>
				<td>
					{{position.armour_rating}}
				</td>
			</tr>
			<tr>
				<th>
					Speed
				</th>
				<td>
					{{position.speed_rating}}
				</td>
			</tr>
			<tr>
				<th>
					Leadership
				</th>
				<td>
					{{position.leadership_rating}}
				</td>
			</tr>
			<tr>
				<th>
					Cunning
				</th>
				<td>
					{{position.cunning_rating}}
				</td>
			</tr>
			<tr>
				<th>
					Craft
				</th>
				<td>
					{{position.craft_rating}}
				</td>
			</tr>
		</tbody>
	</table>
</div>