<div class="home-header">
	<div id="home-banner" class="text-center">
		<strong>Myth Chronicles</strong>: A multiplayer game of fantasy strategy on your browser 
		<h1 id="home-title" class="text-center">In the Age of Myth...</h1>
	</div>
</div>
<div id="home" class="home-content">
	<div class="jumbotron">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="well well-lg">
					<img class="pull-left" src='/icons_original/lord.png' height="128" width="128"/>
					<blockquote class="blockquote-reverse">
						<p>"Brothers, you chose me to lead you on the march to war. I have not disappointed your thirst for conquest. The puny humans fell quickly, their pups now my thrall-bearers. The devious elf-kin soon learned obediance when we burned down their forest holes. The brutish ogres and puny goblins pay us tribute. They know who is mighty, who is great."</p>
						<p>"Soon, you will dig out the guts of the dwarves from behind their iron walls. They too will learn we are the only worthy ones."</p>
						<p>"The fire-beast serves us now. It can have the gold. We shall have the bodies! When this mighty deed is done, none will forget the name of Grimshuk!"</p>
						<footer>Warlord Grimshuk, Lord of Urgval</footer>
					</blockquote>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="well well-lg">
					<img class="pull-right" src='/icons_original/hero.png' height="128" width="128"/>
					<blockquote>
						<p>"The green tide approaches. My Lord has prepared the clan. Our fortress a wonder of the age. The shield-bearers and bolt-throwers hold their position. My kin have done all they can. It will not be enough."</p>
						<p>"The clan seer told me this day would come; the price to be paid. But fate is a spinning coin. Our doom not written on solid stone yet. I have sought the ancient magics of the lost ages from the darkest dungeons."</p>
						<p>"I will face this Grimshuk alone. I will teach him the folly of his arrogance. We shall both perish but my legend will live on in the ages to come."</p>
						<footer>Tharik, Hero of Unterhall</footer>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="well well-lg">
					<img class="pull-left" src='/icons_original/necromancer.png' height="128" width="128"/>
					<blockquote class="blockquote-reverse">
						<p>"Feasst, yess, my children. Feed on the flesh of the earth-bound. Releasse them from their prisonss. Give them the gift of Unlife!"</p>
						<p>"Ssoon, the green plague will ravash all. They will learn the name of their true masterss. Their pathetic lustful hatred will serve uss. Their fury bringss the storm of death. The freedom of Unlife for you, foolish creature... bound to my great will!"</p>
						<p>"The sacrifice is almost ready. The shackled soulss will be releassed and all will bow down to the Lich King Icoth"</p>
						<footer>Icoth, Master of the Black Tower</footer>
					</blockquote>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="well well-lg">
					<img class="pull-right" src='/icons_original/dragon.png' height="128" width="128"/>
					<blockquote>
						<p>"Fool Mortals! Nothing more than sand in the wind. The Great Mother shall shed them as a serpent sheds its skin. Her true children will reign again."</p>
						<p>"O Mother Earth! How the short-sacks have defiled you! Plundered your secrets and taken your golden core. We will restore you. They shall be nothing more than blood-rivers. Their stolen riches returned as our inheritance."</p>
						<p>"Fool Mortals! You will learn to serve the ancient elements, when Srimar becomes your golden idol!"</p>
						<footer>Srimar, Dragon of the Spire</footer>
					</blockquote>
				</div>
			</div>
		</div>
		<a href="/users/sign_up" class="btn btn-xlarge btn-primary pull-right">Begin Your Chronicle &raquo;</a>
	</div>
	<div class="well well-lg">
		<div id="features">
			<h2>A Persistent World of Fantasy Strategy</h2>
			<ul>
				<li><strong>Free</strong> to play</li>
				<li>Take the role of a <strong>Lord</strong>, <strong>Hero</strong>, <strong>Necromancer</strong> or <strong>Dragon</strong></li>
				<li><strong>Command</strong>  vast armies of humanoids, undead or elementals in strategic warfare with numerous tactical options</li>
				<li><strong>Build</strong> great cities, mighty towers and hidden lairs</li>
				<li><strong>Produce</strong> weapons, armour, boats, wagons and siege equipment to aid your troops</li>
				<li><strong>Cast</strong> powerful magical spells to secure victory</li>
				<li><strong>Delve</strong> into dungeons to recover magical artefacts</li>
				<li><strong>Trade</strong> and ally with other players</li>
				<li>Use your strength, cunning or magical craft to achieve <strong>Immortality</strong>!</li>
			</ul>
		</div>
	</div>

</div>