<div ng-if="position.subtype == 'City'" class="panel panel-default">
	<div class="panel-heading"><strong>Population</strong></div>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Race</th>
				<td>{{position.race}}</td>
			</tr>
			<tr>
				<th>Size</th>
				<td>{{position.size}}</td>
			</tr>
			<tr>
				<th>Loyalty</th>
				<td>{{position.loyalty}}%</td>
			</tr>
		</tbody>
	</table>
</div>