<ol class="breadcrumb">
  <li><a href="/docs">Help Topics</a></li>
</ol>
<div class="row">
	<div class="col-xs-12 col-md-6 col-lg-3">
		<h2 class="sub-heading">Core Concepts</h2>
		<ul>
			<li><a href="/docs/how_it_all_works">How It All Works</a></li>
			<li><a href="/docs/time">Time</a></li>
			<li><a href="/docs/maps_and_terrain">Maps and Terrain</a></li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-3">
		<h2 class="sub-heading">Player Positions</h2>
		<ul>
			<li><a href="/docs/characters">Characters</a></li>
			<li><a href="/docs/settlements">Settlements</a></li>
			<li><a href="/docs/armies">Armies</a></li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-3">
		<h2 class="sub-heading">Races</h2>
		<ul>
			<li><a href="/docs/humanoids">Humanoids</a></li>
			<li><a href="/docs/undead">Undead</a></li>
			<li><a href="/docs/elementals">Elementals</a></li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-3">
		<h2 class="sub-heading">Items</h2>
		<ul>
			<li><a href="/docs/resources">Resources</a></li>
			<li><a href="/docs/armour">Armour</a></li>
			<li><a href="/docs/weapons">Weapons</a></li>
			<li><a href="/docs/beasts">Beasts</a></li>
			<li><a href="/docs/vehicles_etc">Vehicles and Siege Equipment</a></li>
			<li><a href="/docs/magical_items">Magical Items</a></li>
			<li><a href="/docs/trade_goods">Trade Goods</a></li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-3">
		<h2 class="sub-heading">Gameplay</h2>
		<ul>
			<li><a href="/docs/trade_caravans">Trade Caravans</a></li>
			<li><a href="/docs/dungeons">Dungeons</a></li>
			<li><a href="/docs/spells">Magical Spells</a></li>
			<li><a href="/docs/combat">Combat</a></li>
			<li><a href="/docs/xp">Experience and Improving Characters</a></li>
			<li><a href="/docs/alliances">Alliances</a></li>
			<li><a href="/docs/immortality">Immortality and Cataclysms</a></li>
		</ul>
	</div>
</div>

<%=render partial: '/docs/footer' %>