#home-banner {
  background-color: rgba(253, 253, 233, 1.0);
  border: 1px solid black;
}

#home-title {
  color: #000;
}

.home-header {
  background: rgba(0,0,0,0);
}

#main .home-content {
   position: absolute;
   top: 150px;
   left: 30px;
   width: 90%;
   height: 80%;
   overflow: scroll;
   border: 0;
}

#main .home-header {
  position: absolute;
  top: 40px;
  left: 30px;
  width: 90%;
  border: none;
  padding-left: 0px;
  padding-bottom: 0px;
}

.home-background {
  background-image: url(/map_image.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #100c08;
  width: 100%;
}

#home {
  width: 100%;
}

.home-background h1 {
  font-size: 42px;
  color: #000;
}

#home .well {
   background-color: rgba(253, 253, 233, 0.90);
}

#home .jumbotron {
  width: 100%;
  background: none;
	border: none;
}

#features ul li {
  font-size: 16px;
  padding-bottom: 5px;
}