<%=render partial: '/layouts/forums_header' %>

<body>

<div class="container-fluid">
<%=render partial: '/layouts/forums_nav' %>

<%= render partial: '/layouts/alerts' %>

<%= yield %>
</div>
  </body>
</html>